.node {
  outline: 2px solid rgb(8, 87, 151);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
}

.start {
  background-color: blue;
}

.finish {
  background-color: red;
}

.wall {
  background-color: black;
}

.visited {
  background-color: brown;
}

.shortestPath {
  background-color: yellow;
}
